<div class="show-user-container section-container">
  <div class="section-header">
    <h2 class="show-user-header"><%=@user.username%>'s Filters</h2>
  </div>
  <div class="section-content">
    <% @filters.each do |f|%>
    <div class="section-item">
      <img class="section-item-image" src="<%=f.thumbnail%>" alt="name">
      <a href="/filter/show/<%=f.id%>" class="section-item-content">
        <span class="section-item-name">
          <%=f.name%>
        </span>
        <span class="section-item-views">
          <%=f.views%> views
        </span>
      </a>
    </div>
    <%end%>
  </div>
</div>
<div class="show-user-container section-container">
  <div class="section-header">
    <h2 class="show-user-header"><%=@user.username%>'s Mashups</h2>
  </div>
  <div class="section-content">
    <% @mashups.each do |m|%>
    <div class="section-item">
      <img class="section-item-image" src="<%=m.thumbnail%>" alt="name">
      <a href="/mashup/show/<%=m.id%>" class="section-item-content">
        <span class="section-item-name">
          <%=m.name%>
        </span>
        <span class="section-item-views">
          <%=m.views%> views
        </span>
      </a>
    </div>
    <%end%>
  </div>
</div>
<div class="show-user-container section-container">
  <div class="section-header">
    <h2 class="show-user-header"><%=@user.username%>'s Library</h2>
  </div>
  <div class="section-content">
    <% @library.each do |f|%>
    <div class="section-item">
      <img class="section-item-image" src="<%=f.thumbnail%>" alt="name">
      <a href="/filter/show/<%=f.id%>" class="section-item-content">
        <span class="section-item-name">
          <%=f.name%>
        </span>
        <span class="section-item-views">
          <%=f.views%> views
        </span>
      </a>
    </div>
    <%end%>
  </div>
</div>
<%if @user.id == session[:user_id]%>
<a href="/users/edit"><div class="button-1 to-edit-page">Edit Profile</div></a>
<%end%>