<div class="popular-container section-container">
  <div class="section-header">
    <h2 class="popular-header">Popular</h2>
    <img class="popular-refresh refresh" src="<%= asset_path('refresh.png') %>" alt="refresh">
  </div>
  <div class="section-content">
    <% @popular.each do |f|%>
    <div class="section-item">
      <img class="section-item-image" src="<%=f.thumbnail%>" alt="name">
      <a href="/filter/show/<%=f.id%>" class="section-item-content">
        <span class="section-item-name">
          <%=f.name%>
        </span>
        <span class="section-item-views">
          <%=f.views%> views
        </span>
      </a>
    </div>
    <%end%>
  </div>
</div>
<div class="random-container section-container">
  <div class="section-header">
    <h2 class="random-header">Random</h2>
    <img class="random-refresh refresh" src="/assets/refresh.png" alt="refresh">
  </div>
  <div class="section-content">
    <% @random.each do |f|%>
    <div class="section-item">
      <img class="section-item-image" src="<%=f.thumbnail%>" alt="name">
      <a href="/filter/show/<%=f.id%>" class="section-item-content">
        <span class="section-item-name">
          <%=f.name%>
        </span>
        <span class="section-item-views">
          <%=f.views%> views
        </span>
      </a>
    </div>
    <%end%>
  </div>
</div>